<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanyang.logistics.jaj.mapper.DriverDimMapper" >
  <resultMap id="BaseResultMap" type="com.sanyang.logistics.base.pojo.DriverDim" >
    <id column="driver_id" property="driverId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="driverage" property="driverage" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="license" property="license" jdbcType="VARCHAR" />
    <result column="drivertype" property="drivertype" jdbcType="CHAR" />
    <result column="to_date" property="toDate" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    driver_id, name, sex, age, driverage, status, license, drivertype, to_date, contact
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sanyang.logistics.base.pojo.DriverDimExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from driver_dim
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from driver_dim
    where driver_id = #{driverId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from driver_dim
    where driver_id = #{driverId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sanyang.logistics.base.pojo.DriverDimExample" >
    delete from driver_dim
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sanyang.logistics.base.pojo.DriverDim" >
    insert into driver_dim (driver_id, name, sex, 
      age, driverage, status, 
      license, drivertype, to_date, 
      contact)
    values (#{driverId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{driverage,jdbcType=INTEGER}, #{status,jdbcType=CHAR}, 
      #{license,jdbcType=VARCHAR}, #{drivertype,jdbcType=CHAR}, #{toDate}, 
      #{contact,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sanyang.logistics.base.pojo.DriverDim" >
    insert into driver_dim
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="driverId != null" >
        driver_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="driverage != null" >
        driverage,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="license != null" >
        license,
      </if>
      <if test="drivertype != null" >
        drivertype,
      </if>
      <if test="toDate != null" >
        to_date,
      </if>
      <if test="contact != null" >
        contact,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="driverId != null" >
        #{driverId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="driverage != null" >
        #{driverage,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="license != null" >
        #{license,jdbcType=VARCHAR},
      </if>
      <if test="drivertype != null" >
        #{drivertype,jdbcType=CHAR},
      </if>
      <if test="toDate != null" >
        #{toDate},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sanyang.logistics.base.pojo.DriverDimExample" resultType="java.lang.Integer" >
    select count(*) from driver_dim
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update driver_dim
    <set >
      <if test="record.driverId != null" >
        driver_id = #{record.driverId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.driverage != null" >
        driverage = #{record.driverage,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.license != null" >
        license = #{record.license,jdbcType=VARCHAR},
      </if>
      <if test="record.drivertype != null" >
        drivertype = #{record.drivertype,jdbcType=CHAR},
      </if>
      <if test="record.toDate != null" >
        to_date = #{record.toDate},
      </if>
      <if test="record.contact != null" >
        contact = #{record.contact,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update driver_dim
    set driver_id = #{record.driverId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=INTEGER},
      driverage = #{record.driverage,jdbcType=INTEGER},
      status = #{record.status,jdbcType=CHAR},
      license = #{record.license,jdbcType=VARCHAR},
      drivertype = #{record.drivertype,jdbcType=CHAR},
      to_date = #{record.toDate},
      contact = #{record.contact,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sanyang.logistics.base.pojo.DriverDim" >
    update driver_dim
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="driverage != null" >
        driverage = #{driverage,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="license != null" >
        license = #{license,jdbcType=VARCHAR},
      </if>
      <if test="drivertype != null" >
        drivertype = #{drivertype,jdbcType=CHAR},
      </if>
      <if test="toDate != null" >
        to_date = #{toDate},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
    </set>
    where driver_id = #{driverId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sanyang.logistics.base.pojo.DriverDim" >
    update driver_dim
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      driverage = #{driverage,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR},
      license = #{license,jdbcType=VARCHAR},
      drivertype = #{drivertype,jdbcType=CHAR},
      to_date = #{toDate},
      contact = #{contact,jdbcType=VARCHAR}
    where driver_id = #{driverId,jdbcType=INTEGER}
  </update>
  
  <select id="getDriverDim" resultMap="BaseResultMap">
  	select * from driver_dim
  </select>
</mapper>